---
import Layout from '../layouts/Layout.astro';
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/800.css';
import '@fontsource-variable/montserrat';
import DisenoGrafico from '../components/DisenoGrafico.astro';
import Intro from '../components/Intro.astro';
---

<Layout title="atenea">
	<img src="/eclipse.png" alt="" class="absolute right-0 md:hidden">
	<main class="w-screen h-screen relative z-20 py-20 px-10">
		<Intro />
		<DisenoGrafico />
		
	</main>
</Layout>

<style is:global>
	h1{
		font-family: 'Montserrat Variable', sans-serif;
	}
</style>
