---
import ContenedorClientes from "../ContenedorClientes.astro";
import TituloSeparador from "../TituloSeparador.astro";

---

<section id="clientesSection" style="border-top: 8px solid #00f0ff;" class="pt-[80px] bg-white relative z-50">
    <TituloSeparador primerTexto="NUESTROS" segundoTexto="CLIENTES+" class="[&>h1]:text-[#525252]"/>
    <ContenedorClientes />
</section>

<style>
    section{
        background-image: url('/atenea3.png');
        background-position: right;
        background-repeat: no-repeat;
        clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    }
</style>