---
import Contacto from "../BotonContacto.astro";
import Logo from "../Logo.astro";
import SeparadorMobile from "../SeparadorMobile.astro";
import TituloSeparador from "../TituloSeparador.astro";
---

<section id="design"
    class="text-white relative bg-right bg-cover bg-no-repeat landingPage"
>
<div class="w-screen hidden md:flex md:items-center absolute left-0 top-3">
    <div class="w-full flex items-center">
        <span class="w-[20%] h-[1px] border"></span>
        <h2 class="text-4xl font-black">03</h2>
        <h1 class="text-4xl font-black text-center text-[#00f0ff] lg:w-[30%]">LANDING PAGE</h1>
        <span class="w-[37%] lg:w-[45%] h-[1px] border"></span>
    </div>
    <div class="flex items-center w-full">
        <div class="flex items-center pr-1 lg:pr-3">
            <Logo class="w-5 h-5" color="#00f0ff" />
            <h3>atenea</h3>
        </div>
        <span class="w-full overflow-hidden h-[1px] border"></span>
    </div>
</div>

    <div
        class="bg-black/50 h-full flex flex-col items-center pb-20 md:flex-row md:pt-10 md:px-20 lg:h-[80vh]"
    >
        <SeparadorMobile numero="03" class="top-[-21px] md:hidden" />
        <TituloSeparador
            primerTexto="LANDING"
            segundoTexto="PAGE+"
            class="md:hidden"
        />
        <p
            class="xs:text-sm text-balance font-light text-xl text-center max-w-xl md:hidden"
        >
            <strong class="font-bold">tu propia página web</strong>, construida
            con la última tecnología, optimizada y adaptada para funcionar en cualquier
            dispositivo movil.
        </p>
        <img src="/landing.webp" alt="" class="my-5 md:absolute right-[-25%] md:z-10 md:scale-50 px-5 md:px-0 lg:scale-75" />
        <div class="flex-col md:order-[-1] md:w-[50%] relative z-20 pt-10">
            <h2 class="font-light text-4xl leading-none relative top-3 hidden md:flex">PAGINA</h2>
            <h1 class="text-9xl font-black leading-none hidden md:flex md:mb-5">WEB</h1>
            <p class="hidden md:flex max-w-sm md:my-5 md:text-lg text-balance lg:max-w-2xl">Tu propia página web, construida con la última
                tecnología, optimizada y adaptada para funcionar
                en cualquier dispositivo movil.</p>
            <h1 class="text-center mb-5 font-black text-3xl text-[#00f0ff] md:text-left">
                ¿QUE INCLUYE?
            </h1>
            <ol class="flex flex-col items-center md:items-start mb-5 md:flex-row md:text-xl [&>li]:md:max-w-52">
                <div class="flex flex-col gap-5 mb-5">
                    <li>
                        <h3 class="text-2xl md:text-xl font-bold">DOMINIO PROPIO</h3>
                        <p class="md:text-sm">dominio web personalizado,</p>
                        <p class="text-sm font-light text-white/80">
                            www.atenea.com.ar
                        </p>
                    </li>
                    <li>
                        <h3 class="text-2xl md:text-xl font-bold">DISENO WEB</h3>
                        <p class="md:text-sm">diseñamos tu web a medida,</p>
                        <p class="text-sm font-light text-white/80">
                            100% personalizada.
                        </p>
                    </li>
                </div>
                <div class="flex flex-col gap-5 mx-10">
                    <li>
                        <h3 class="text-2xl md:text-xl font-bold">DESARROLLO</h3>
                        <p class="md:text-sm">con las mejores tecnologias,</p>
                        <p class="text-sm font-light text-white/80">
                            el mejor rendimiento.
                        </p>
                    </li>
                    <li>
                        <h3 class="text-2xl md:text-xl font-bold">MANTENIMIENTO</h3>
                        <p class="md:text-sm">website online</p>
                        <p class="text-sm font-light text-white/80">
                            24/7
                        </p>
                    </li>
                </div>
            </ol>
            <Contacto class="w-[300px] flex justify-center md:mt-10" id="1"/>
        </div>
    </div>
</section>

<style>
    .landingPage{
        background-image: url("/fondo03.webp");
    }
    h3 {
        font-weight: "Montserrat";
    }
    h2 {
        font-family: "Montserrat Variable";
    }
</style>
