---
import Articulo from "../Articulo.astro";
import BarraCeleste from "../BarraCeleste.astro";
import SeparadorMobile from "../SeparadorMobile.astro";
import TituloSeparador from "../TituloSeparador.astro";
---

<section id="design" class={`${Astro.props.class} text-white relative z-50 bg-fixed bg-no-repeat bg-center pb-10 md:bg-left posicionamiento`}> 
    <SeparadorMobile numero="04" class="top-[-21px]"/>
    <TituloSeparador primerTexto="Posicio" segundoTexto="namiento+" class="md:hidden"/>
    <TituloSeparador primerTexto="Posicionamiento+" class="hidden md:flex"/>
    <div class="flex items-center md:justify-center">
        <BarraCeleste class="h-32 xs:h-32 md:hidden"/>
        <p class="pl-5 text-balance font-light md:max-w-md md:text-left">
            establecer una <strong>ventaja competitiva</strong> que haga que la <strong>oferta</strong> de la empresa sea única y <strong>atractiva</strong> para un grupo objetivo <strong>específico de clientes.</strong>
        </p>
    </div>
    <p id="enfoques" class="text-white font-black uppercase text-center my-5">Existen diferentes enfoques de 
        posicionamiento</p>
    <div id="contenedorArticulos" class="flex flex-col gap-3 mt-5 relative z-20 md:items-center">
        <Articulo numero="01" titulo="ATRIBUTOS" texto="destaca características o atributos específicos del producto o servicio que lo hacen diferente o superior a otros en el mercado."/>
        <Articulo numero="02" titulo="PRECIO" texto="enfatiza el precio competitivo del producto o servicio, mostrando que ofrece una buena relación calidad-precio."/>
        <Articulo numero="03" titulo="APLICACION" texto="se centra en el uso o aplicación específica del producto, lo que puede ser beneficioso para un grupo de clientes en particular."/>
        <Articulo numero="04" titulo="USUARIO" texto="se enfoca en un segmento de mercado específico y adapta el mensaje de marketing para satisfacer sus necesidades y deseos particulares."/>
        <Articulo numero="05" titulo="COMPETENCIA" texto="se compara directamente con la competencia y se destaca cómo es mejor o diferente."/>
    </div>

    <h2 class="mt-5 text-2xl font-black text-center">¿POR QUE ES <span class="bg-[#00f0ff] text-[1.72rem] text-black/80">IMPORTANTE?</span></h2>

    
    <p class="font-light my-3 relative z-60 max-w-2xl mx-auto">El posicionamiento exitoso es crucial para que una empresa se destaque en un mercado competitivo y pueda atraer y retener a sus clientes de manera efectiva. </p>
    <p class="font-light relative z-60 max-w-2xl mx-auto">Al mantener una posición única y valiosa en la mente de los consumidores, la empresa tiene más posibilidades de lograr el éxito y el crecimiento a largo plazo.</p>
    <!-- <img src="/atenea2.png" alt="" class="object-cover absolute left-0 bottom-0 z-10"> -->
</section>
<style>
    #enfoques {
        font-family: 'Montserrat Variable';
    }
    h1{
        font-family: 'Montserrat Variable';
    }
    h2{
        font-family: 'Montserrat Variable';
    }
    .posicionamiento{
        background-image: url('/atenea2.webp');
    }
    p strong {
        font-weight: 800;
    }
</style>

<script>
    const contenedorArticulo = document.querySelector('#contenedorArticulos')

    for(let i =0; i < contenedorArticulo.children.length; i++){
        const botonFlecha = contenedorArticulo.children[i].children[0].children[1]
        const articulo = contenedorArticulo.children[i].children[1]

        contenedorArticulo.children[i].children[0].addEventListener('click', ()=>{
            articulo.classList.toggle('hidden')
            botonFlecha.classList.toggle('rotate-180')
        })
    }
    
</script>