---
import TituloSeparador from "./TituloSeparador.astro";

---

<section class="bg-white h-screen pt-14" style="clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 15%);">
    <TituloSeparador primerTexto="NUESTROS" segundoTexto="CLIENTES+"/>
</section>

<style>
    section{
        background-image: url('./atenea3.png');
        background-position: right;
        background-repeat: no-repeat;
    }
</style>