---
import Contacto from '../components/Contacto.astro';
---
<section class="h-screen">
    <div>
        <h1 class="text-6xl md:px-20 pt-20 font-black text-[#00F0FF] text-center">AGENCIA</h1>
        <h1 class="text-6xl md:px-20 font-black text-[#00F0FF] text-center">CREATIVA</h1>
    </div>
    <div class="flex justify-center pt-10">
        <img src="/comilla.png" alt="">
    </div>
    <div class="pt-10 flex flex-col items-center">
        <h3 class="text-white text-7xl font-bold">DISEÑO</h3>
        <h3 class="text-white text-[2.3rem] leading-none">& DESARROLLO</h3>
    </div>
    <div class="flex flex-col gap-5">
        <p class="text-center text-lg pt-5 text-white font-light">
            <span class="text-[#00f0ff] font-bold">ideas innovadoras</span> para impulsar negocios digitales
        </p>
        <Contacto />
        <p class="text-white font-light text-center">buenos aires, argentina.</p>
    </div>
    Redes sociales
</section>