<nav class="fixed px-10 md:px-20 py-10 flex items-center justify-between h-16 w-screen text-white z-50 duration-200">
    <div class="flex items-center gap-2 md:gap-5 w-full">
        <svg
            width="32"
            height="30"
            viewBox="0 0 34 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M27.3248 19.4201L23.9872 13.1361L20.3364 6.25759L17.0155 0H16.9845L13.6636 6.25759L0 32H6.67281L17.0012 12.5415L20.652 19.4201L13.9744 32H20.6472L23.9872 25.7064L27.3272 32H34L27.3248 19.4201Z"
                fill="#00F0FF"></path>
        </svg>
        <h2 class="self-end leading-none text-2xl font-medium">atenea</h2>
    </div>
    <ul class="hidden md:flex gap-5">
        <li>
            <a href="#home" class="navLink activeLink">inicio</a>
        </li>
        <li>
            <a href="#design" class="navLink">servicios</a>
        </li>
        <li>
            <a href="#clients" class="navLink">clientes</a>
        </li>
        <li>
            <a href="#contact" class="navLink">contacto</a>
        </li>
    </ul>
    <button id="btnMobile" class="md:hidden" type="button" name="menu">
        <svg
            width="22"
            height="16"
            viewBox="0 0 22 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <rect
                x="22"
                width="2.58824"
                height="22"
                transform="rotate(90 22 0)"
                fill="white"></rect>
            <rect
                x="22"
                y="6.47058"
                width="2.58824"
                height="16.8235"
                transform="rotate(90 22 6.47058)"
                fill="white"></rect>
            <rect
                x="22"
                y="12.9412"
                width="2.58824"
                height="11.6471"
                transform="rotate(90 22 12.9412)"
                fill="white"></rect>
        </svg>
    </button>
</nav>

<!-- hidden <-> flex -->
<ul class="z-[99] hidden fixed w-[65%] h-[60%] bg-[#00F0FF] right-0 rounded-bl-[200px] shadow-2xl flex-col items-center justify-center gap-10 xs:gap-5 [&>li>a]:px-6 [&>li>a]:py-2"
    id="navMobile">
    <li>
        <a href="#introSection" class="active">inicio</a>
    </li>
    <li>
        <a href="#serviciosSection" id="toService">servicios</a>
    </li>
    
    <li>
        <a href="#clientesSection">clientes</a>
    </li>
    <li>
        <a href="#contactoSection" id="to">contacto</a>
    </li>
    <button id="exitNavMobile" class="absolute top-6 right-9" name="exitMenu">
        <h2 class="text-white font-semibold text-2xl pr-1">X</h2>
    </button>
</ul>
<style>
    html {
        scroll-behavior: smooth;
    }
    .activeLink {
        color: #00F0FF;
        font-weight: 800;
    }
    /* .active {
        color: red;
        background-color: #2f2f2f;
        font-weight: bold;
        color: #fff;
        border-radius: 2px;
        transition: 0.2s;
    } */
    #navMobile{
        box-shadow: -7px 5px 11px 0px rgba(0,0,0,0.5);
-webkit-box-shadow: -7px 5px 11px 0px rgba(0,0,0,0.5);
-moz-box-shadow: -7px 5px 11px 0px rgba(0,0,0,0.5);
    }
</style>

<!-- <script>
    function toggleBlur() {
        if (window.scrollY > 90) {
            navCompleto.classList.add('backdrop-blur');
        } else {
            navCompleto.classList.remove('backdrop-blur');
        }
    }

    const navMobile = document.querySelector('#navMobile')
    const btnMobile = document.querySelector('#btnMobile')
    btnMobile.addEventListener('click', () => {
        navMobile.classList.remove('hidden')
        navMobile.classList.add('flex')
    })
    


    const exitNavMobile = document.querySelector('#exitNavMobile')
    exitNavMobile.addEventListener('click', () => {
        navMobile.classList.remove('flex')
        navMobile.classList.add('hidden')
    })

    const navCompleto = document.querySelector('nav')
    if(navCompleto.scrollHeight < 80) {
        navCompleto.classList.add('backdrop-blur')
    }

    window.addEventListener('scroll', toggleBlur);
    toggleBlur();

    document.addEventListener("DOMContentLoaded", function () {
    const sections = document.querySelectorAll("section");
    const navLinks = document.querySelectorAll("#navMobile li a");

    function changeNavColor() {
      const scrollPosition = window.scrollY;

      sections.forEach((section, index) => {
        const top = section.offsetTop - 100;
        const bottom = top + section.clientHeight;

        if (scrollPosition >= top && scrollPosition < bottom) {
          navLinks.forEach((link) => {
            link.classList.remove("active");
          });

          navLinks[index].classList.add("active");
        }
      });
    }

    window.addEventListener("scroll", changeNavColor);


    // function scrollToSection(where, coordenadas){
    //     console.log(where)
    //     document.querySelector(where).addEventListener('click', (e)=>{
    //         console.log(where)
    //     e.preventDefault();
    //     window.scrollTo(0, coordenadas)
    // })
    // }




  });
</script> -->


<script>
    const navCompleto = document.querySelector('nav')
    const navLinks = document.querySelectorAll('.navLink')
    const sections = document.querySelectorAll('section')


    
    let currentSection = 'home'

    window.addEventListener('scroll', () => {
        sections.forEach( section => {
            if (window.scrollY > 90) {
                navCompleto.classList.add('backdrop-blur');
            } else {
                navCompleto.classList.remove('backdrop-blur');
            }
            if((window.scrollY >= section.offsetTop - 50) && (section.id !== '')) {
                currentSection = section.id;
            }
            
        })


        navLinks.forEach(link => {
            if(link.href.includes(currentSection)) {
                document.querySelector('.navLink')?.classList.remove('activeLink')
                let colorsito = navCompleto.children[0].children[0].children[0].getAttribute('fill');
                link.style.color = colorsito;
                link.style.fontWeight = '800'
            } else {
                link.style.color = '#fff';
                link.style.fontWeight = '400';
            }
        });
    })

    console.log(navCompleto.children[0].children[0].children[0])

</script>