<nav class="absolute px-10 md:px-20 py-10 flex items-center justify-between h-16 w-screen text-white z-50">
    <div class="flex items-center gap-2 md:gap-5 w-full">
        <svg
            width="32"
            height="30"
            viewBox="0 0 34 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M27.3248 19.4201L23.9872 13.1361L20.3364 6.25759L17.0155 0H16.9845L13.6636 6.25759L0 32H6.67281L17.0012 12.5415L20.652 19.4201L13.9744 32H20.6472L23.9872 25.7064L27.3272 32H34L27.3248 19.4201Z"
                fill="#00F0FF"></path>
        </svg>
        <h1 class="self-end leading-none text-2xl font-medium font-[poppins]">atenea</h1>
    </div>
    <ul class="hidden md:flex gap-5">
        <li>
            <a href="" class="text-[#00F0FF] font-medium">inicio</a>
        </li>
        <li>
            <a href="">servicios</a>
        </li>
        <li>
            <a href="">contacto</a>
        </li>
        <li>
            <a href="">clientes</a>
        </li>
        <li>
            <a href="">nosotros</a>
        </li>
    </ul>
    <button id="btnMobile" class="md:hidden" type="button">
        <svg
            width="22"
            height="16"
            viewBox="0 0 22 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <rect
                x="22"
                width="2.58824"
                height="22"
                transform="rotate(90 22 0)"
                fill="white"></rect>
            <rect
                x="22"
                y="6.47058"
                width="2.58824"
                height="16.8235"
                transform="rotate(90 22 6.47058)"
                fill="white"></rect>
            <rect
                x="22"
                y="12.9412"
                width="2.58824"
                height="11.6471"
                transform="rotate(90 22 12.9412)"
                fill="white"></rect>
        </svg>
    </button>
</nav>

<!-- hidden <-> flex -->
<ul class="z-[99] hidden absolute w-[65%] h-[60%] bg-[#00F0FF] right-0 rounded-bl-[200px] shadow-2xl flex-col items-center justify-center gap-10"
    id="navMobile">
    <li class="font-bold py-3 px-10 bg-[#1A1E21] rounded-bl-lg rounded-tl-sm rounded-tr-sm">
        <a href="" class="text-white">inicio</a>
    </li>
    <li>
        <a href="">servicios</a>
    </li>
    <li>
        <a href="">contacto</a>
    </li>
    <li>
        <a href="">clientes</a>
    </li>
    <li>
        <a href="">nosotros</a>
    </li>
    <button id="exitNavMobile" class="absolute top-6 right-9">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="30" viewBox="0 -960 960 960" width="30">
            <path color="#ffffff" d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
        </svg>
    </button>
</ul>
<style>
    #navMobile{
        box-shadow: -7px 5px 11px 0px rgba(0,0,0,0.5);
-webkit-box-shadow: -7px 5px 11px 0px rgba(0,0,0,0.5);
-moz-box-shadow: -7px 5px 11px 0px rgba(0,0,0,0.5);
    }
</style>

<script>import type { Code } from "astro:components"

    const navMobile = document.querySelector('#navMobile')
    const btnMobile = document.querySelector('#btnMobile')
    btnMobile.addEventListener('click', () => {
        navMobile.classList.remove('hidden')
        navMobile.classList.add('flex')
    })

    const exitNavMobile = document.querySelector('#exitNavMobile')
    exitNavMobile.addEventListener('click', () => {
        navMobile.classList.remove('flex')
        navMobile.classList.add('hidden')
    })
</script>
