---
import Articulo from "./Articulo.astro";
import BarraCeleste from "./BarraCeleste.astro";
import SeparadorMobile from "./SeparadorMobile.astro";
import TituloSeparador from "./TituloSeparador.astro";
---

<section class={`${Astro.props.class} xs:h-screen h-[95vh] text-white relative`}> 
    <SeparadorMobile numero="04" class="top-[-24px]"/>
    <TituloSeparador primerTexto="Posicio" segundoTexto="namiento+"/>
    <div class="flex items-center">
        <BarraCeleste class="h-32 xs:h-32"/>
        <p class="pl-5 text-balance font-light">
            establecer una ventaja competitiva que haga que la oferta de la empresa sea única y atractiva para un grupo objetivo específico de clientes.
        </p>
    </div>
    <p id="enfoques" class="text-slate-600 font-black uppercase text-center my-5">Existen diferentes enfoques de 
        posicionamiento que una 
        empresa puede adoptar+</p>
    <div id="contenedorArticulos" class="flex flex-col gap-3 mt-5 relative z-20">
        <Articulo numero="01" titulo="ATRIBUTOS" texto="destaca características o atributos específicos del producto o servicio que lo hacen diferente o superior a otros en el mercado."/>
        <Articulo numero="02" titulo="PRECIO" texto="enfatiza el precio competitivo del producto o servicio, mostrando que ofrece una buena relación calidad-precio."/>
        <Articulo numero="03" titulo="APLICACION" texto="se centra en el uso o aplicación específica del producto, lo que puede ser beneficioso para un grupo de clientes en particular."/>
        <Articulo numero="04" titulo="USUARIO" texto="se enfoca en un segmento de mercado específico y adapta el mensaje de marketing para satisfacer sus necesidades y deseos particulares."/>
        <Articulo numero="05" titulo="COMPETENCIA" texto="se compara directamente con la competencia y se destaca cómo es mejor o diferente."/>
    </div>

    <h1 class="mt-5 text-2xl font-black text-center">¿POR QUE ES <span class="bg-[#00f0ff] text-[1.72rem] text-black/80">IMPORTANTE?</span></h1>

    <img src="/atenea2.png" alt="" class="object-cover absolute left-0 bottom-0 z-0">

</section>
<style>
    #enfoques {
        font-family: 'Montserrat';
    }
    h1{
        font-family: 'Montserrat';
    }
</style>

<script>
    const contenedorArticulo = document.querySelector('#contenedorArticulos')
    for(let i =0; i < contenedorArticulo.children.length; i++){

        const botonFlecha = contenedorArticulo.children[i].children[0].children[1]
        const articulo = contenedorArticulo.children[i].children[1]

        botonFlecha.addEventListener('click', ()=>{
            articulo.classList.toggle('hidden')
            botonFlecha.classList.toggle('rotate-180')
        })
    }
    
</script>