---
const { numero } = Astro.props
---

<div class={`${Astro.props.class} absolute left-0 flex justify-center items-center`}>
    <hr class="w-[45vw] border-2 border-white">
    <h1 class="text-white text-4xl font-black relative left-[-2px]">{numero}</h1>
</div>