---
const { primerTexto, segundoTexto } = Astro.props
---

<div class={`${Astro.props.class} flex flex-col items-center pt-14 pb-8 uppercase`}>
    <h1 class="xs:text-4xl text-5xl font-black" style="color: #00f0ff">{primerTexto}</h1>
    <h1 class="xs:text-4xl text-5xl font-black" style="color: #00f0ff">{segundoTexto}</h1>
</div>