---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="overflow-x-hidden w-screen h-screen">
		<header>
			<Navbar />
		</header>
		<button name="contact" class="hover:opacity-75 transition-opacity xs:w-10 xs:h-10 w-14 h-14 rounded-full fixed right-2 bottom-2 z-[100] flex justify-center items-center md:p-2" aria-label="whatsapp">
			<svg width="full" height="full" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path id="whatsapp" d="M12.95 3.23965C10.86 -0.000348568 6.57995 -0.960348 3.26995 1.04965C0.0399523 3.05965 -1.00005 7.43965 1.08995 10.6697L1.25995 10.9297L0.559952 13.5497L3.17995 12.8497L3.43995 13.0197C4.56995 13.6297 5.79995 13.9797 7.01995 13.9797C8.32995 13.9797 9.63995 13.6297 10.77 12.9297C14 10.8297 14.96 6.53965 12.95 3.21965V3.23965ZM11.12 9.97965C10.77 10.4997 10.33 10.8497 9.71995 10.9397C9.36995 10.9397 8.92995 11.1097 7.18995 10.4197C5.70995 9.71965 4.47995 8.57965 3.60995 7.26965C3.08995 6.65965 2.81995 5.86965 2.73995 5.07965C2.73995 4.37965 2.99995 3.76965 3.43995 3.32965C3.60995 3.15965 3.78995 3.06965 3.95995 3.06965H4.39995C4.56995 3.06965 4.74995 3.06965 4.83995 3.41965C5.00995 3.85965 5.44995 4.90965 5.44995 4.99965C5.53995 5.08965 5.49995 5.75965 5.09995 6.13965C4.87995 6.38965 4.83995 6.39965 4.92995 6.57965C5.27995 7.09965 5.71995 7.62965 6.14995 8.06965C6.66995 8.50965 7.19995 8.85965 7.80995 9.11965C7.97995 9.20965 8.15995 9.20965 8.24995 9.02965C8.33995 8.85965 8.76995 8.41965 8.94995 8.23965C9.11995 8.06965 9.20995 8.06965 9.38995 8.14965L10.79 8.84965C10.96 8.93965 11.14 9.01965 11.23 9.10965C11.32 9.36965 11.32 9.71965 11.14 9.97965H11.12Z" fill="#fff"/>
				</svg>
				
		</button>
		<slot />
	</body>
</html>
<style is:global>
	body{
		font-family: 'Poppins';
		background-color: #1A1E21;
		opacity: 1;
		background-size: 80px 80px;
		background-image:  repeating-linear-gradient(to right, #ffffff0c, #ffffff02 1px, #1A1E21 1px, #1A1E21);
	}
</style>
