---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="overflow-x-hidden w-screen h-screen">
		<header>
			<Navbar />
		</header>
		<button class="xs:w-10 xs:h-10 w-14 h-14 rounded-full border fixed right-2 bottom-2 z-[100]"></button>
		<slot />
	</body>
</html>
<style is:global>
	body{
		font-family: 'Poppins';
		background-color: #1A1E21;
		opacity: 1;
		background-size: 80px 80px;
		background-image:  repeating-linear-gradient(to right, #ffffff0c, #ffffff02 1px, #1A1E21 1px, #1A1E21);
	}
</style>
